.post-img{
    height:405px ;
    overflow: hidden;
    margin-top: 14px;
}
.post-img img{
    width: 100%;

}
.blog-post-content{
    background-color: lightcyan;
}
.blog-post-content h1{
    text-align: center;
}
.blog-post-content p{
    font-size: 20px;
}
.row{
    display: flex;
}
.morepost{
    flex-direction: column;
    align-items: center;
}
.blogpost-meta{
    display: flex;
    justify-content: space-between;

}
.author-info{
    margin: 12px 0;
}
.author-info div{
    padding: 4px px;
    font-family: var(--font2);
}
.social{
    cursor: pointer;
    padding-right: 53px;
    align-self: center;

}