@media screen and (max-width: 1100px){
    .navigation{
        flex-direction: column;
        margin-bottom:23px;
        
    }
    .navleft{
        flex-direction: column;
        text-align: center;
    }
    .contentright{
        display: none;
    }
    .home-article{
        flex-direction: column;
    }
    .home-article-img{
        text-align: center;
    }
    .form-input{
        width: 50%;
    }
    .form-box input, textarea{
        width: 66vw;
    }
    .row{
        flex-direction: column;
    }
    .social{
        padding: 0;
    }
    .post-img{
        height: auto;
    }
}