*{
    margin: 0;
    padding: 0;
}
.navigation{
margin-top: 25px;
/*background-color: aliceblue;*/
font-family: var(--font1) ;
display: flex;
justify-content: space-between;
align-items: center;
}
.navleft{
    display: flex;

}
.navleft span{
    font-size: 40px;

}
.navleft ul{
    display: flex;
    align-items: center;
    margin: 20px 70px;
    font-size: 22px;
    font-weight: bolder;
}
.navleft ul li{
    font-family: var(--font2);
    margin: 0 15px;
    list-style: none;
}
.navleft ul li a{
    color: black;
    text-decoration: none;
}
.navleft ul li a:hover{
    color: var(--main-bg-color);
    font-weight: bolder;
}
.content{
    padding: 0 10px;
    height: 100%;
    /*background-color: rgb(240, 240, 190);*/
    display: flex;
    margin-top: 32px;
    position: relative;
}
.content::after{
    content: "";
    width: 100%;
    background-repeat: no-repeat;
    height: inherit;
    opacity: 0.25;
    position: absolute;
    background-image: url(../img/Free\ Writing\ Tools\ Vector\ 2.svg);
    border-radius: 20px;
    background-size: cover;
}
.contentleft{
    z-index: 1;
    padding:50px;
    font-size: 15px;
font-family: var(--font1);
display: flex;
justify-content: center;
flex-direction: column;
}
.contentright{
    font-family: var(--font2);
display: flex;
align-items: center;
justify-content: center;
}
.contentright img{
    height: 350px;
    border: 2px solid black;
    border-radius: 180px;
}
.home-articles{
    background-color: rgba(202, 199, 199, 0.3);
    margin: 25px;
    padding: 18px;
    position: relative;
}
.year-box{
    top: 100px;
    position: absolute;
    width: 235px;
    height: 255px;
    right: 110px;
    font-size: 18px;
}
.year-box div{
    margin: 12px 0px;
}
.home-article{
    margin: 25px;
display: flex;
}
.home-article img{
width: 200px;
}
.home-article-content{
    align-self: center;
    padding: 25px;
}
.home-article-content a{
    text-decoration: none;
    color: black;
}
.footer{
    height: 50px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
}
.footer a{
    color: black;
}